<% provide(:title      , 'ユーザ登録') %>
<% provide(:url        ,  signup_users_path) %>
<% provide(:button_text, 'ユーザ登録') %>
<h1>ユーザ登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render  "layouts/form", object: @user %>
  </div>
</div>
